APP_GATEWAY_URL=http://localhost
APP_GATEWAY_PORT=4000

APP_SERVICE_DB_LAYER_URL=http://localhost:3000
APP_WALLET_CLIENT_URL=http://localhost:5173
ALLOWED_ORIGINS=http://wallet-client:8080,http://localhost:8080